<h1>Editing Book</h1>
<%= form_for(@plan) do |f| %>
 <div class="form-group">
 <%= f.label :プランタイトル %><br />
  <%= f.text_field :title, class: "new-plan", :style=>"width:150px;" %>
</div>
<div class="form-group">
<%= f.label :タイトル内容 %><br />
<%= f.text_area :introduction, class: "new-plan", :style=>"width:150px;" %>
 </div>
<div>
<%= f.label :場所 %><br />
  <%= f.text_field :place_name, class: "new-plan", :style=>"width:150px;" %>
</div>
<div>
<%= f.label :場所メモ %><br />
  <%= f.text_field :place_introduction, class: "new-plan", :style=>"width:150px;" %>
</div>
<div>
<%= f.label :予算 %><br />
  <%= f.text_field :price, class: "new-plan", :style=>"width:150px;" %>
</div>
<div>
<%= f.label :写真 %><br />
  <%= f.attachment_field :image %>
</div>

 <div class="col-xs-3 col-xs-offset-8">
          <%= f.submit "update", class: "btn btn-primary" %>
        </div>

<% end %>
<%= link_to 'Show', plan_path(@plan) %> 