<h1 class="midasi">旅行先で検索</h1>
<ul> 
  <input type="radio" name="btn" id="a" checked="checked">国内
  <input type="radio" name="btn" id="b">国外
</ul>
<%= form_with url: search_plans_path, method: :get, local: true do |f| %>
  <div class="text text01">
    <%= f.select :word, Plan.words.keys, {}, {class: 'hoge'} %>
  </div>
  <div class="text text02">
    <%= f.select :oversea, Plan.overseas.keys, {}, {class: 'hoge'} %>
  </div>
    <%= f.submit :search %>
  <% end %> 
<br> 

 

<h2 id="journey_summaryi" class="border-linet">旅行先一覧</h2>
  <div id="container" class="boxt">
    <br>
    <div class="row">
      <div class="home-content">
        <div class="user-home">
          <% @plans.each do |plan| %>
            <% if plan.user.is_withdrawal == false %>
              <div class="user-info">
                <img class="profire"><%= attachment_image_tag plan, :image, format: 'jpeg', fallback: "plan.jpg", size: "200x200" %></img>
                <table>
                  <tbody>
                    <tr>
                      <td>タイトル</td>
                      <td><%= plan.title %></td>
                    </tr>
                    <tr>
                      <% if Plan.words[plan.word].to_i > 0 %>
                        <td>
                          <spring>旅行先</spring>
                        </td>
                        <td>
                          <spring><%= plan.word %></spring>
                        </td>
                      <% end %>
                      <% if Plan.overseas[plan.oversea].to_i > 0 %>
                        <td>
                          <spring>旅行先</spring>
                        </td>
                        <td>
                          <spring><%= plan.oversea %></spring>
                        </td>
                      <% end %>
                    </tr>
                  </tbody>
                </table>
                <div class="user-home-name"><%= link_to "計画を見に行く",plan_path(plan) %></div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="page"><%= paginate @plans %></div>
      </div>
    </div>
  </div>
　