<%= nested_form_for(@plan) do |f| %> 
  <div class="container" style="padding-left: 0px;padding-right: 0px;">
    <br>
    <h2 class="border-line">PLAN概要</h2>
      <div id="main_box" class="form-summary">
        <div id="summary_box">
      	  <div class="card">
      		  <div class="card-body">
              <%= f.label :planのイメージ写真 %><br />
              <%= f.attachment_field :image %>
              <div class="form-group">
                <%= f.label :旅行先を選択して下さい%><br />
                <ul>
                  <input type="radio" name="btn" id="a" checked="checked">国内
                  <input type="radio" name="btn" id="b">国外
                </ul>
                <div class="text text01">
                <%= f.select :word, Plan.words.keys, {}, {class: 'hoge'} %>
                </div>
                <div class="text text02">
                <%= f.select :oversea, Plan.overseas.keys, {}, {class: 'hoge'} %>
                </div>
              </div>
              <div class="form-group">
                <%= f.text_field :title,placeholder:"プランタイトル" %>
              </div>
              <div class="form-group">
                <%= f.text_area :introduction,placeholder:"内容(リンクなど)",:style=>"width:500px;" %>
              </div>
              <div class="form-group">
                <%= f.label :旅行予定日 %><br />
                <%= raw sprintf(f.date_select(:date, prompt:"--", use_month_numbers: true, start_year:2020,start_month:8,date_separator:'%s'),'年','月')+'日' %>
              </div>
	          </div> 
      	  </div>
        </div>
      </div>
    </div>
    <br>
      <h2 class="border-line">スケジュール</h2>
       <%= f.fields_for :plan_dates do |f| %>
          <div id="schedule_box" class="form-summary" onedaybox-cnt="1">
            <div id="oneday_box" class="form-summary card">
              <div id="card_header">
                <div class="form-group">  
                </div>
                  <div id="card_box">
                    <div id="card" class="card">
                      <div class="card-body">
                        <div class="form-group">
                          <%= f.label :時間 %><br />
                          <%= f.time_select :time, prompt:"--", ignore_data:true %>
                        </div>
                        <div class="form-group">
                          <%= f.text_field :place_name,placeholder:"場所名",:style=>"width:500px;" %>
                        </div>
                        <div class="form-group">
                          <%= f.text_field :place_introduction,placeholder:"メモ書き",:style=>"width:500px;" %>
                        </div>
                        <div class="form-group">
                          <%= f.text_field :price,placeholder:"予算",:style=>"width:500px;" %>
                        </div>
                        <div class="form-group">
                          <%= f.label :お好きな写真 %><br />
                          <%= f.attachment_field :image %>
                        </div>
                        <div>
                           <%= f.link_to_remove '削除', class: 'btn btn-danger', role: 'button' %>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        <% end %>
        <div class="add">
        <%= f.link_to_add '追加',:plan_dates,class: 'btn btn-info', role: 'button',:style=>"width:200px"  %>
        </div>
      <div class="sinki">
      <%= f.submit "新規登録", class: " btn btn-sucess",:style=>"width:200px;margin-left: 10px;" %>
      </div>
  </div>
<% end %>
