<div class="container main">
  <div class="row">
  	<div>
  	<h3>作成plan</h3> 
    </div>
    <div>
  	<table>
  	<body>
      <tr> 
          <td>見てる人</td> 
           <td><%= current_user.email %></td> 
           
           
    </tr> 
      <tr> 
         
           <td>投稿者</td> 
           <td><%= @plan.user.email %></td> 
    </tr> 
    
      <tr> 
       
           <td>日にち</td>
           <td><%= @plan.date %></td> 
    </tr> 
    
  	<tr> 
       
       	   <td>プランタイトル</td>
       	   <td><%= @plan.title %></td> 
    </tr> 
    <tr> 
       
            <td>プランメモ</td>
       	　  <td><%= @plan.introduction %></td>
    </tr>
    <tr> 
       
           <td>時間</td>
           <td><%= @plan.time.strftime('%H:%M')  %></td> 
    </tr> 
    <tr> 
       
        	<td>場所名</td>
        	<td><%= @plan.place_name %></td>
    </tr>
    <tr> 
         
        	<td>場所メモ</td>
        	<td><%= @plan.place_introduction%></td>
    </tr>
    <tr> 
        
        	<td>想定予算</td>
        	<td><%= @plan.price %>円</td>
    </tr>
    <tr> 
        
          <td>写真</td>
           <td><%= attachment_image_tag @plan, :image, format: 'jpeg', class: "", size: "100x100" %></td>
    </tr>
    </body>
    </table>
    </div>
    <div>
    <%= link_to "Edit", edit_plan_path %> 
    </div>
    <div>
  <h3>いいね件数: <%= @plan.likes.count %></h3>
<% if current_user.already_liked?(@plan) %>
  <%= button_to 'いいねを取り消す', plan_like_path(@plan), method: :delete %>
<% else %>
  <%= button_to 'いいね', plan_likes_path(@plan) %>
<% end %>
</div>
<div>
  <% @plan.comments.each do |comment| %>
  <div><%= comment.content %></div>
  <div>
    <%= link_to "destroy",plan_comment_path(comment.plan,comment),method: :delete  %>
  </div>

  <% end %>
</div>
<div>
  
  <h2>コメント一覧</h2>
 <%= form_for [@plan, @comment] do |f| %>
    
            <%= f.text_area :content %>
       
    <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>
  


</div>
    </div>
    </div>
</div>
