<br>
  <% if user_signed_in? %>
    <h2 id="journey_summary" class="border-line">
      <%= link_to  "編集ページ", edit_plan_path(@plan), class: "home glyphicon glyphicon-home" %>
    </h2>
  <% end %>
  <h2 id="journey_summary" class="border-line">作成PLAN</h2>
  <div id="container" class="box">
    <div id="joruney_summary_box">
      <div class="simmary">
        <div id="summary_title_0" style="padding-left: 10px; padding-top: 20px;font-size: 16px;font-weight:bold;">
          <%= @plan.word %>
        </div>
        <div id="summary_title_0" style="padding-left: 10px; padding-top: 20px;font-size: 16px;font-weight:bold;">
          <%= @plan.title %>
        </div>
        <br>
        <div id="summary_desc_0" style="padding-left: 10px; padding-right: 10px; padding-top: 10px; padding-bottom: 10px; background-color:#b7b7b733; margin-left: 10px; margin-right: 10px; font-size:14px; "><%= @plan.introduction %>
        </div>
      </div>
    </div>
    <br>
  </div>
<h2 id="journey_summary" class="border-line">スケジュール</h2>
  <div id="container" class="box" style="height: auto !important;">
    <div id="schedule_box">
      <br>
      <div class="container">
        <div class="row one-day">
          <div class="col-auto mr-auto">
            <%= @plan.date %>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <% @plan.plan_dates.each do |plan| %>
        <div class="row">
          <div class="col-1">
            <div class="row h-50">
              <div class="col-1"></div>
            </div>
            <h5 class>
              <i class="far fa-circle"></i>
            </h5>
            <div class="row h-50">
              <div class="col-1 scard-line"></div>
            </div>
          </div>
          <div class="col scard">
            <i class="far fa-clock"></i>
            <div class="time and place">
              <%= plan.time.strftime('%H:%M') %>
              <i class="fas fa-map-marker-alt"></i>
              <%= plan.place_name %>
              <div class="memo">
                <%= plan.place_introduction%>
              </div>
              <div>
                 想定予算<%= plan.price%>円
              </div>
              <div class="place_image">
                <img class="plan_image"><%= attachment_image_tag plan, :image, format: 'jpeg',size: "100x100" %></img>
              </div>
            </div>
          </div>
        </div> 
      <% end %>
    </div>
  </div>
<br>
<br>
<% if user_signed_in? %>
  <h2 id="journey_summary" class="border-line">いいね</h2>
  <div id="iine"class="box">
    <div id="iine_box" class="iine_box">
      <div id="likes_buttons_<%= @plan.id %>">
        <%= render 'likes/like', plan: @plan %>
      </div>
    <div>
  </div>
  <br>
  <h2 id="journey_summary" class="border-line">コメント</h2>
  <div id="comment"class="box">
    <div id="comment_box" class="comment_box">
      <% @plan.comments.each do |comment| %>
        <div>
          <%= comment.content %>
          <%= link_to "destroy",plan_comment_path(comment.plan,comment),method: :delete  %>
        </div>
      <% end %>
      <br>
    </div>
    <div id="form" class="box">
      <div id="form_box" class="form_box">
        <%= form_for [@plan, @comment] do |f| %>
          <div class="form text"><%= f.text_area :content %></div>
          <div class="sousin"><%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %></div>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
<% end %>