 
  
  <div class = "top" >
     <div class="d-flex justify-content-center"> 
    <p>ようこそtravel_plusへ</p>
  </div>
  </div>
  <div class = "under" >
   <div class="d-flex justify-content-center">     
     <% if user_signed_in? %>
   <div><%= link_to  "  Home", root_path, class: "home glyphicon glyphicon-home" %></div>
   <div><%= link_to  "  About", homes_path, class: "about glyphicon glyphicon-link" %></div>
   <div><%= link_to " logout", destroy_user_session_path, method: :delete, :class => "glyphicon glyphicon-log-out" %></div>
  
  <% else %>
  <div><%= link_to "  Sign Up", new_user_registration_path, class: "sign_up glyphicon glyphicon-edit" %></div>
   <div><%= link_to "  login", new_user_session_path, class: "sign_in glyphicon glyphicon-log-in" %></div>
     <% end %>
    </div>
   </div>

   
 
  