<!DOCTYPE html>
<html>
  <head>
    <title>TravelPlus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body>
    <%= render "layouts/header" %>
    <div style="flex: 1">
        
        <main>いつもと違う、空が見たい</main>
        
    </div>
     <%= render "layouts/footer" %>
  </body>
</html>
