<!DOCTYPE html>
<html>
  <head>
    <title>TravelPlus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
　<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
  </head>

  <body>
  	<%= render "layouts/header" %>
   <%= yield %>
  </body>
</html>
