 <!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>TravelPlus</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag'application', media:'all','data-turbolinks-track':'reload'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
　<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>

　<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
　<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
　<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
 <script src="https://kit.fontawesome.com/b6f8358d82.js" crossorigin="anonymous"></script>
  </head>

  <body>

 <header><%= render "layouts/header" %></header>
  <div>
   <main><%= yield %></main>
  </div>
  <footer><%= render "layouts/footer" %></footer>
  </body>
</html> 
